# Specify the font file name below (supported formats are .ttf/.ttc/.otf)
font = "wqy-microhei.ttc"
# If it is a TTC collection, you can specify which sub-font to use (0 indicates the first one)
index = 0
